<!DOCTYPE html>
<html>
<head>
    <title>Admission Form - ITCT</title>
</head>
<body>

<h2>Student Admission Form</h2>

<form action="/submit" method="POST">
    Name: <input type="text" name="name" required><br><br>
    DOB: <input type="date" name="dob" required><br><br>

    Course:
    <select name="course">
        <option>MS-CIT</option>
        <option>Tally</option>
        <option>Typing</option>
    </select><br><br>

    Mobile: <input type="text" name="mobile"><br><br>
    Address: <textarea name="address"></textarea><br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>